*~
*.o
*.Po

# configure artifacts:
Makefile
config.log
config.status
po-wwsympa/Makefile.in
po/Makefile.in

# make artifacts:
doc/man8/alias_manager.8
doc/man8/archived.8
doc/man8/bounced.8
soap/sympa_soap_server-wrapper.fcgi
src/aliaswrapper
src/bouncequeue
src/familyqueue
src/queue
src/virtualwrapper
wwsympa/wwsympa-wrapper.fcgi

