From: [% fromlist %]
Subject: [% FILTER qencode %][%|loc(list.name)%]Aus der Gruppe %1 ausgetreten[%END%][%END%]

[%|loc(user.email,list.name)%]Du bist aus der Gruppe %2 ausgetreten. Deine eMail-Adresse (%1) wurde entfernt.[END%]
[%|loc%]Tschüs![%END%]
