From: [% fromlist %]
Subject: [% FILTER qencode %][%|loc(list.name)%]Aus der Gruppe %1 entfernt[%END%][%END%]

[%|loc(user.email,list.name,list.host)%]Deine Adresse (%1) wurde durch einen Administrator
aus der Gruppe %2 entfernt. (Vielleicht waren Nachrichten an diese Adresse unzustellbar.)
[%END%]

